
/* Centered container for the language display */
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;/* This centers the content vertically within the viewport */
}

/* Styles for the language display in App.js */
.language-display {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.language-display strong {
  color: #007bff; /* Highlight the language text */
}

/* Reset some default styles for consistency */
body, h1, h2, p, button {
  margin: 0;
  padding: 0;
}

/* Global styles for the entire app */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0;
  font-size: 36px;
}

.language-switcher {
  margin-bottom: 20px;
}

.language-switcher button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.language-switcher button:hover {
  background-color: #0056b3;
}

/* Add any additional global styles here */
